name: CI

on:
  push:
  release:
    types: [published]

jobs:
  build:
    strategy:
      matrix:
        os: [ "ubuntu-latest", "macos-latest", "windows-latest" ]
        # The versions should contain (at least) the lowest requirement
        #    and a version that is more up to date.
        toit-version: [ v2.0.0-alpha.100, v2.0.0-alpha.125 ]
        include:
          - toit-version: v2.0.0-alpha.100
            version-name: old
          - toit-version: v2.0.0-alpha.125
            version-name: new

    name: CI - ${{ matrix.os }} - ${{ matrix.version-name }}

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Install Toit
        uses: toitlang/action-setup@v1.2.0
        with:
          toit-version: ${{ matrix.toit-version }}

      # Fetch the dependencies. Different for each platform.
      - name: Install dependencies - Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install mosquitto
          mosquitto -h || echo "ignore bad exit code"

      - name: Install dependencies - macOS
        if: runner.os == 'macOS'
        run: |
          brew install mosquitto
          mosquitto -h || echo "ignore bad exit code"

      - name: Disable mosquitto on Windows
        if: runner.os == 'Windows'
        shell: bash
        run: |
          make rebuild-cmake
          cmake -DWITH_MOSQUITTO=FALSE build

      - name: Install packages
        run: |
          make install-pkgs

      - name: Test
        run: |
          make test
