name: CI

on:
  push:
  release:
    types: [published]

jobs:
  build:
    strategy:
      matrix:
        os: [ "ubuntu-latest", "macos-latest", "windows-latest" ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Setup constants
        shell: bash
        run: |
          TOIT_VERSION="v1.6.15"

          export DOWNLOAD_DIR="${{ github.workspace }}/downloads"
          echo "DOWNLOAD_DIR=$DOWNLOAD_DIR" >> $GITHUB_ENV

          if [[ "$RUNNER_OS" = "Linux" ]]; then
            TOIT_FILE=toit-linux.tar.gz
            echo "TOIT_EXEC=$DOWNLOAD_DIR/toit/bin/toit.run" >> $GITHUB_ENV
            echo "TPKG_EXEC=$DOWNLOAD_DIR/toit/bin/toit.pkg" >> $GITHUB_ENV
          elif [[ "$RUNNER_OS" = "macOS" ]]; then
            TOIT_FILE=toit-macos.tar.gz
            echo "TOIT_EXEC=$DOWNLOAD_DIR/toit/bin/toit.run" >> $GITHUB_ENV
            echo "TPKG_EXEC=$DOWNLOAD_DIR/toit/bin/toit.pkg" >> $GITHUB_ENV
          elif [[ "$RUNNER_OS" = "Windows" ]]; then
            TOIT_FILE=toit-windows.tar.gz
            echo "TOIT_EXEC=$DOWNLOAD_DIR/toit/bin/toit.run.exe" >> $GITHUB_ENV
            echo "TPKG_EXEC=$DOWNLOAD_DIR/toit/bin/toit.pkg.exe" >> $GITHUB_ENV
          else
            echo "UNSUPPORTED RUNNER: $RUNNER_OS"
            exit 1
          fi

          echo "TOIT_URL=https://github.com/toitlang/toit/releases/download/$TOIT_VERSION/$TOIT_FILE" >> $GITHUB_ENV;

      # Fetch the dependencies. Different for each platform.
      - name: Install dependencies - Linux
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install ninja-build mosquitto
          ninja --version
          cmake --version
          mosquitto -h || echo "ignore bad exit code"
      - name: Install dependencies - macOS
        if: runner.os == 'macOS'
        run: |
          brew install ninja mosquitto
          ninja --version
          cmake --version
          mosquitto -h || echo "ignore bad exit code"
      - name: Install dependencies - Windows
        if: runner.os == 'Windows'
        run: |
          choco install ninja
          ninja --version
          cmake --version

      - uses: suisei-cn/actions-download-file@v1
        name: Download Toit
        with:
          url: ${{ env.TOIT_URL }}
          target: ${{ env.DOWNLOAD_DIR }}

      - name: Extract Toit
        shell: bash
        run: |
          cd "$DOWNLOAD_DIR"
          tar x -f *.tar.gz

      - name: Run cmake
        shell: bash
        run: |
          make rebuild-cmake
          if  [[ "$RUNNER_OS" = "Windows" ]]; then
            # Don't know of a simple way to install mosquitto. -> Just run the tests on Windows
            # without it.
            cmake "-DTOIT_EXEC=$TOIT_EXEC" "-DTPKG_EXEC=$TPKG_EXEC" -DWITH_MOSQUITTO=FALSE build
          else
            cmake "-DTOIT_EXEC=$TOIT_EXEC" "-DTPKG_EXEC=$TPKG_EXEC" build
          fi

      - name: Install packages
        run: |
          make install-pkgs

      - name: Test
        run: |
          make test
